/* .profile-picture {
  width: 120px;
  height: 120px;
  border: solid;
  border-color: rgba(0, 122, 255, 0.75);
  border-radius: 60px;
  margin: auto;
} */

.profile-full-name {
  font-family: SFPro;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #1c1c1e;
  margin-top: 16px;
}

.profile-description {
  text-align: center;
  padding: 8px 10px 8px 10px;
  font-family: SFPro;
}

.profile-additional {
  font-family: SFPro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #1c1c1e;
  opacity: 0.5;
}

.profile-buttons button {
  display: block;
  margin: 16px auto;
}

.profile-picture-bigger {
  width: 120px;
  height: 120px;
  border: solid;
  border-color: rgba(0, 122, 255, 0.75);
  object-fit: cover;
  border-radius: 60px;
  margin: auto;
  display: block;
  padding: 3px;
}
